body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
}

.text {
    padding: 0px 0px 0px 300px;
}
.column {
    background-color: rgba(3, 1, 105, 0.692);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}
h1 {
    padding: 10px 0px 0px 20px;
    color: rgb(0, 0, 0);
    
}
.top {
    display:block;
    align-items:center;
    padding: 0px;

}
li > a {
    text-decoration: none;
    position:absolute;
    color: black;
    top: auto;
    font-size: 18px;
    padding: 10px 0px 0px 30px;
}
fieldset {
    padding: 0px 0px 30px 0px;
    background-color: rgb(248, 248, 248);
}
.ab {
    background-color: rgba(0, 0, 255, 0.055);
    display: block;
    width: 800px;
    height: 40px;
    font-family: monospace;
    color: #5c5b5bc9;
    border-right: 0px;
}
.a {
    background-color: rgba(0, 0, 255, 0.055);
    display: block;
    width: 800px;
    height: 40px;
    font-family: monospace;
    color: #5c5b5bc9;
    border-right: 0px;
}
.link {
 font-size: 15px;
 font-family: 'Open Sans', Arial, sans-serif;
 
}
.ink {
    padding: 0px 0px 0px 10px;
    font-size: 15px;
    color:blueviolet;
    text-decoration:underline;
}

